<div class="popup">
  <h1>{{ title }}</h1>

  <div class="popup__action">
    <button
      [disabled]="!intervalControl.valid"
      [class.popup--is-reloading]="isReloading"
      (click)="onStartReload()"
      class="popup__btn"
    >
      <span>Add Tab</span>
    </button>

    <button class="popup__btn" (click)="onStopReload()">
      <span>Remove Tab</span>
    </button>
  </div>

  <div>
    <input [formControl]="intervalControl" type="number" />
  </div>

  <div>
    <h3>{{ intervalControl.value }}</h3>
  </div>
</div>
