<div class="popup">
  <h3 class="popup__title popup__title--state">
    Auto refresh is {{ isReloading ? "ON" : "OFF" }}
  </h3>

  <h3 class="popup__sub-title popup--bold">
    Select random interval in seconds
  </h3>

  <div class="popup__action">
    <popup-select-random-interval [(intervalCount)]="intervalCount">
      <button
        (click)="onInitEvent()"
        [disabled]="!validator"
        [class.popup__btn--is-reloading]="isReloading"
        [class.popup--disabled]="!validator"
        class="popup__btn popup--bold popup--action"
      >
        <span>{{ isReloading ? "Stop" : "Start" }} </span>
      </button>
    </popup-select-random-interval>
  </div>

  <h3 class="popup__sub-title popup--bold">
    Or just choose the fixed interval
  </h3>

  <popup-interval-preset
    [disabled]="isReloading"
    [(intervalCount)]="intervalCount"
  ></popup-interval-preset>

  <div class="popup__params">
    <div>
      <input
        [(ngModel)]="searchText"
        [disabled]="isReloading"
        [class.popup--disabled]="isReloading"
        type="text"
        placeholder="enter text"
        class="popup__search-text"
      />
    </div>

    <div>
      <label>
        <input
          [(ngModel)]="hasNotification"
          [disabled]="searchValidator"
          type="checkbox"
          name="show-notification"
        />
        <span
          [class.popup--disabled]="searchValidator"
          class="popup--bold popup--action"
          >Show notification</span
        >
      </label>
      when this text is

      <select [(ngModel)]="notificationAction" [disabled]="searchValidator">
        <option *ngFor="let option of selectOptions" [value]="option.value">
          {{ option.name }}
        </option>
      </select>
    </div>

    <div>
      <label>
        <input
          [(ngModel)]="isSearchTriggeredStopRefresh"
          [disabled]="searchValidator"
          type="checkbox"
        />
        <span
          [class.popup--disabled]="searchValidator"
          class="popup--bold popup--action"
          >Stop the refresher</span
        >
      </label>
      when search is triggered
    </div>
  </div>
</div>
