<div class="popup">
  <h3 class="popup__title popup__title--state">
    Auto refresh is {{ isReloading ? "ON" : "OFF" }}
  </h3>

  <h3 class="popup__sub-title popup--bold">
    Select random interval in seconds
  </h3>

  <div>
    <button (click)="onShowValue()">Show</button>
  </div>

  <div class="popup__action">
    <popup-select-random-interval [(intervalCount)]="intervalCount">
      <button
        (click)="onInitEvent()"
        [disabled]="!validator"
        [class.popup__btn--is-reloading]="isReloading"
        [class.popup__btn--is-disabled]="!validator"
        class="popup__btn popup--bold"
      >
        <span>{{ isReloading ? "Stop" : "Start" }} </span>
      </button>
    </popup-select-random-interval>
  </div>

  <h3 class="popup__sub-title popup--bold">
    Or just choose the fixed interval
  </h3>

  <popup-interval-preset
    [disabled]="isReloading"
    [(intervalCount)]="intervalCount"
  ></popup-interval-preset>

  <div class="popup__params">
    <div>
      <label>
        <input
          [(ngModel)]="hasNotification"
          [disabled]="isReloading"
          type="checkbox"
          name="show-notification"
        />
        <span class="popup--bold">Show notification</span> when this text is
      </label>

      <select [(ngModel)]="notificationAction" [disabled]="isReloading">
        <option *ngFor="let option of selectOptions" [value]="option.value">
          {{ option.name }}
        </option>
      </select>
    </div>

    <div>
      <input
        [(ngModel)]="searchText"
        [disabled]="isReloading"
        type="text"
        placeholder="enter text"
        class="popup__search-text"
      />
    </div>

    <div>
      <label>
        <input
          [(ngModel)]="isTextFoundStopRefresh"
          [disabled]="isReloading"
          type="checkbox"
        />
        <span class="popup--bold">Stop the refresher</span> when search is
        triggered
      </label>
    </div>
  </div>
</div>
